#Database ------------------------
SECRET_DATABASE_URL = 127.0.0.1
SECRET_DATABASE_PORT = 3306
SECRET_DATABASE_NAME = 'test'

#USER CREDENTIALS
SECRET_DATABASE_USER = 'sammy'
SECRET_DATABASE_PASSWORD = 'sammywuzhere123'
#-----------------------------------

#Admin Login Credentials -----------
SECRET_ADMIN_USERNAME = 'admin'
SECRET_ADMIN_PASSWORD = 'admin123'
#-----------------------------------