#Database ------------------------
SECRET_DATABASE_URL = 127.0.0.1
SECRET_DATABASE_PORT = 3306
SECRET_DATABASE_NAME = 'test'

#USER CREDENTIALS
SECRET_DATABASE_USER = 'sammy'
SECRET_DATABASE_PASSWORD = 'sammywuzhere123'
#-----------------------------------
#Admin Login Credentials -----------
SECRET_ADMIN_USERNAME = 'admin'
SECRET_ADMIN_PASSWORD = 'admin123'
#-----------------------------------
#Cloudflare R2 Bucket Login Credentials ( these are made up examples )
SECRET_CLOUDFLARE_ACCESS_KEY_ID = '3245678ikjmnhgf0b14gbve546yh6rdd5'
SECRET_CLOUDFLARE_ACCESS_KEY = '5f2qwe2f3rgfdtb5y478jtyhrge34c52fcf4c9203egrtb4542'
SECRET_CLOUDFLARE_TOKEN_VALUE = 'GXUGWFWP5DILpmiGJRVOCKxLOgBBIMDrfcswfekI-refs'
SECRET_CLOUDFLARE_ENPOINT = "https://xxxxxxxxxxxxxxxxx.r2.cloudflarestorage.com/html-game-server"
SECRET_CLOUDFLARE_BUCKET_NAME = "html-game-server"
SECRET_CLOUDFLARE_BUCKET_URL = "https://mycustomdomain.com"